
.comment-title {
  display: flex;

}
.comment-title::before, .comment-title::after{
  content: '';
  margin: auto;
  border-bottom: rgb(116, 116, 116) 1px solid;
  flex:1 1;
}
.comment-title::before {
  margin-right: 5px;
}

.comment-title::after {
  margin-left: 5px;
}

.comment-list {
  padding-bottom: 20px;
}

.comment-item {
  border-bottom: gainsboro solid 1px;
  color: rgb(104, 104, 104);
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  transition: all 0.3s ease-in;
}

.comment-item:hover {
  background-color: rgb(240, 238, 238);
  transition: all 0.3s ease-in;
}