.user-area {
  position: relative;
}

.head-image {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.user-card-container {
  position: absolute;
  border: solid 1px gray;
  left: -10px;
  top: -10px;
  opacity: 0;
  transition: all 1s ease-in;
  background-color: #fff;
  box-shadow:1px 1px 1px gray;
  padding: 10px;
  display: flex;
}

.user-area:hover .user-card-container{
  opacity: 1;
  transition: all 1s ease-in;
}

.user-info-detail {
  padding: 0;
}
ul{
  list-style: none;
  margin: 0;
}
li{
  white-space: nowrap;
  padding:0 10px 5px 20px;
  color: gray;
  font-weight: 300;
}
li label {
  font-weight: 400;
  color: rgb(109, 109, 109);
}

li a {
  text-decoration: none;
  color: rgb(63, 155, 254);
}

li a:hover {
  color: rgb(255, 196, 0);
}

